
* {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
}

header {
    background-color: dodgerblue;
    border-bottom: 6px solid aliceblue;
    padding: 20px;
}

header h1 {
    color: aliceblue;
}